import java.util.Scanner;
public class bkiHesaplama {
    public static void main(String[] args){
        double kilo,boy;
        Scanner i= new Scanner(System.in);

        System.out.print("Lütfen boyunuzu (metre cinsinde) giriniz :");
        kilo = i.nextDouble();

        System.out.print("Lütfen kilonuzu giriniz :");
        boy = i.nextDouble();

        double bki= (kilo/boy*boy);
        System.out.println("Vücut Kitle İndeksiniz : " +bki);


    }
}
